ASSIGNMENT 3

1. Generate 10000 values between 5 and 500. Find its mean,median,variance and 25th percentile

In [14]:
import numpy as np #Importing numpy and pandas
import pandas as pd

In [15]:
import random #Generating 10000 random numbers
n=np.random.randint(5,500,10000) 
print(n)

[333 107 463 ... 227 330 487]

In [16]:
import statistics as st #Importing 'statistics' module
m=st.mean(n) #Calculation of mean
print(m)

251

In [17]:
me=st.median(n) #Calculation of median
print(me)

252.0

In [18]:
var=st.variance(n) #Calculation of variance
print(var)

20587

In [19]:
Percentile=np.percentile(n,25) #Calculation of 25th percentile
print(Percentile)

127.0

2. In the "data.csv" replace all the null values with the mean of their respective columns(except gender).

In [20]:
import pandas as pd  
from google.colab import files #Importing 'files' from google.colab

In [21]:
uploaded=files.upload() #Uploading file

Saving dat.csv to dat (1).csv

In [22]:
print(uploaded)

{'dat.csv': b'PassengerId,class,Gender,Age,Survived\r\n1,3,male,22,0\r\n2,1,female,38,1\r\n3,3,female,26,1\r\n4,,female,35,\r\n5,3,male,35,0\r\n6,3,male,,0\r\n7,1,male,54,0\r\n8,3,male,2,0\r\n9,3,,27,1\r\n10,2,female,14,1\r\n11,3,female,4,1\r\n12,1,female,58,1\r\n13,3,male,20,0\r\n14,,male,39,\r\n15,3,female,14,0\r\n16,2,female,55,1\r\n17,3,male,2,0\r\n18,2,male,,1\r\n'}

In [23]:
import io #Importing io

In [24]:
df=pd.read_csv(io.StringIO(uploaded['dat.csv'].decode('utf-8'))) #Converting the file to a DataFrame

In [25]:
df

    PassengerId  class  Gender   Age  Survived
0             1    3.0    male  22.0       0.0
1             2    1.0  female  38.0       1.0
2             3    3.0  female  26.0       1.0
3             4    NaN  female  35.0       NaN
4             5    3.0    male  35.0       0.0
5             6    3.0    male   NaN       0.0
6             7    1.0    male  54.0       0.0
7             8    3.0    male   2.0       0.0
8             9    3.0     NaN  27.0       1.0
9            10    2.0  female  14.0       1.0
10           11    3.0  female   4.0       1.0
11           12    1.0  female  58.0       1.0
12           13    3.0    male  20.0       0.0
13           14    NaN    male  39.0       NaN
14           15    3.0  female  14.0       0.0
15           16    2.0  female  55.0       1.0
16           17    3.0    male   2.0       0.0
17           18    2.0    male   NaN       1.0

In [26]:
df_m=df.fillna(df.mean()) #replacing all the null values with the mean of their respective columns using'fillna'
df_m

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

    PassengerId   class  Gender      Age  Survived
0             1  3.0000    male  22.0000       0.0
1             2  1.0000  female  38.0000       1.0
2             3  3.0000  female  26.0000       1.0
3             4  2.4375  female  35.0000       0.5
4             5  3.0000    male  35.0000       0.0
5             6  3.0000    male  27.8125       0.0
6             7  1.0000    male  54.0000       0.0
7             8  3.0000    male   2.0000       0.0
8             9  3.0000     NaN  27.0000       1.0
9            10  2.0000  female  14.0000       1.0
10           11  3.0000  female   4.0000       1.0
11           12  1.0000  female  58.0000       1.0
12           13  3.0000    male  20.0000       0.0
13           14  2.4375    male  39.0000       0.5
14           15  3.0000  female  14.0000       0.0
15           16  2.0000  female  55.0000       1.0
16           17  3.0000    male   2.0000       0.0
17           18  2.0000    male  27.8125       1.0

3. Create a new column called "Bool" which has value as "yes" if Survived=0 and "No" if Survided=1

In [27]:
import numpy as np
df_m['Bool']=np.where(df_m['Survived']==1,True,False) #Creating a new column 'Bool' and replacing True and False values using 'where'
print(df_m)

    PassengerId   class  Gender      Age  Survived   Bool
0             1  3.0000    male  22.0000       0.0  False
1             2  1.0000  female  38.0000       1.0   True
2             3  3.0000  female  26.0000       1.0   True
3             4  2.4375  female  35.0000       0.5  False
4             5  3.0000    male  35.0000       0.0  False
5             6  3.0000    male  27.8125       0.0  False
6             7  1.0000    male  54.0000       0.0  False
7             8  3.0000    male   2.0000       0.0  False
8             9  3.0000     NaN  27.0000       1.0   True
9            10  2.0000  female  14.0000       1.0   True
10           11  3.0000  female   4.0000       1.0   True
11           12  1.0000  female  58.0000       1.0   True
12           13  3.0000    male  20.0000       0.0  False
13           14  2.4375    male  39.0000       0.5  False
14           15  3.0000  female  14.0000       0.0  False
15           16  2.0000  female  55.0000       1.0   True
16           17  3.0000    male   2.0000       0.0  False
17           18  2.0000    male  27.8125       1.0   True

4. What is the mean age of the data?

In [30]:
mean_Age=df_m['Age'].mean() #Calculation of mean age
print(mean_Age)

27.8125

5. Rename the "PaddengerId" column name to "Id"

In [31]:
df_m.rename(columns = {'PassengerId':'Id'}, inplace = True) #Renaming Column

In [32]:
df_m

    Id   class  Gender      Age  Survived   Bool
0    1  3.0000    male  22.0000       0.0  False
1    2  1.0000  female  38.0000       1.0   True
2    3  3.0000  female  26.0000       1.0   True
3    4  2.4375  female  35.0000       0.5  False
4    5  3.0000    male  35.0000       0.0  False
5    6  3.0000    male  27.8125       0.0  False
6    7  1.0000    male  54.0000       0.0  False
7    8  3.0000    male   2.0000       0.0  False
8    9  3.0000     NaN  27.0000       1.0   True
9   10  2.0000  female  14.0000       1.0   True
10  11  3.0000  female   4.0000       1.0   True
11  12  1.0000  female  58.0000       1.0   True
12  13  3.0000    male  20.0000       0.0  False
13  14  2.4375    male  39.0000       0.5  False
14  15  3.0000  female  14.0000       0.0  False
15  16  2.0000  female  55.0000       1.0   True
16  17  3.0000    male   2.0000       0.0  False
17  18  2.0000    male  27.8125       1.0   True

6. How many male and female people are there in our data?

In [39]:
Gender=df_m['Gender'].value_counts() #Count of male and female in the dataframe
print(Gender)

male      9
female    8
Name: Gender, dtype: int64