

This is your assignment on conditional statement and looping

Problem-1

Write a small program to check a number is divisible by 7 or not

In [1]:
# Your code goes here
num =int(input('Enter any Number'))

if num%7==0:
  print('The Number is Divisible by 7')
else:
  print('The Number is not Divisible by 7')

Enter any Number21
The Number is Divisible by 7

Problem-2

If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.
Write down a program to check if a number is 'five-or-seven' number or not.

In [2]:
# Your code goes here
num =int(input('Enter any Number'))

if num%7==0 or num%5==0:
  print('The Number is Divisible by 7 or 5')
else:
  print('The Number is not Divisible by 7 or 5')

Enter any Number50
The Number is Divisible by 7 or 5

Problem-3

Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:

Upto first 100 units Rs. 3 per unit.
Next 100 units Rs. 5 per unit.
Next 300 units Rs. 7 per unit.
Above that, for each unit exceeding 500, Rs. 10 per unit flat.

In [3]:
# Your code goes here
no_of_units = int(input('Enter number of units consumed'))

if no_of_units<100:
  cost = 3*no_of_units
elif no_of_units>=100 and no_of_units<300:
  cost = 5*no_of_units
elif no_of_units>=300 and no_of_units<500:
  cost = 7*no_of_units
else:
  cost = 10*no_of_units

print('The Total Cost is', cost)

Enter number of units consumed350
The Total Cost is 2450

Problem-4

Find out sum of square of all the numbers upto 10, starting from 1

In [4]:
# Your code goes here
sum=0
for i in range(1,11):
  sum = sum + (i*i)

print('', sum)

 385

Problem-5

Find out sum of square of all the even numbers upto 10, starting from 1

In [5]:
# Your code goes here
sum=0
for i in range(1,11):
  if i%2==0:
    sum = sum + (i*i)
  else:
    continue
print('', sum)

 220

Problem-6

Check a number is prime or not

In [6]:
# Your code goes here
num = int(input("Enter any number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter any number: 11
11 is a prime number

Problem-7

Print multiplication table upto 10 starting from 1

In [7]:
# Your code goes here
for i in range(1,11):
  for j in range(1,11):
    product = j*i
    print(i, '*', j, '=',product)
    print('\t')
print('\n')

1 * 1 = 1

1 * 2 = 2

1 * 3 = 3

1 * 4 = 4

1 * 5 = 5

1 * 6 = 6

1 * 7 = 7

1 * 8 = 8

1 * 9 = 9

1 * 10 = 10

2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

2 * 6 = 12

2 * 7 = 14

2 * 8 = 16

2 * 9 = 18

2 * 10 = 20

3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

3 * 4 = 12

3 * 5 = 15

3 * 6 = 18

3 * 7 = 21

3 * 8 = 24

3 * 9 = 27

3 * 10 = 30

4 * 1 = 4

4 * 2 = 8

4 * 3 = 12

4 * 4 = 16

4 * 5 = 20

4 * 6 = 24

4 * 7 = 28

4 * 8 = 32

4 * 9 = 36

4 * 10 = 40

5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

5 * 10 = 50

6 * 1 = 6

6 * 2 = 12

6 * 3 = 18

6 * 4 = 24

6 * 5 = 30

6 * 6 = 36

6 * 7 = 42

6 * 8 = 48

6 * 9 = 54

6 * 10 = 60

7 * 1 = 7

7 * 2 = 14

7 * 3 = 21

7 * 4 = 28

7 * 5 = 35

7 * 6 = 42

7 * 7 = 49

7 * 8 = 56

7 * 9 = 63

7 * 10 = 70

8 * 1 = 8

8 * 2 = 16

8 * 3 = 24

8 * 4 = 32

8 * 5 = 40

8 * 6 = 48

8 * 7 = 56

8 * 8 = 64

8 * 9 = 72

8 * 10 = 80

9 * 1 = 9

9 * 2 = 18

9 * 3 = 27

9 * 4 = 36

9 * 5 = 45

9 * 6 = 54

9 * 7 = 63

9 * 8 = 72

9 * 9 = 81

9 * 10 = 90

10 * 1 = 10

10 * 2 = 20

10 * 3 = 30

10 * 4 = 40

10 * 5 = 50

10 * 6 = 60

10 * 7 = 70

10 * 8 = 80

10 * 9 = 90

10 * 10 = 100

Problem-8

Print the series of first n fibonacci numbers

In [9]:
# Your code goes here
n=int(input('Enter how many elements you want to print in the Fibonacci Series\t'))
a = 0
b = 1
if n == 1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(2,n):
    c = a + b
    a = b
    b = c
    print(c)

Enter how many elements you want to print in the Fibonacci Series	10
0
1
1
2
3
5
8
13
21
34